name: Docker Image CI

on:
  push:
    branches: [master]
  pull_request_target:
    branches: [master]
    types:
      - closed

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Extract year from pom.xml
        id: extract_year
        run: |
          YEAR=$(grep -oP '<artifactId>trekkrutine-\K\d{4}' pom.xml)
          echo "year=$YEAR" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        if: github.event.pull_request.merged == true || github.event.pusher != null
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ steps.extract_year.outputs.year }}
      - name: Build and push Docker images
        id: image
        uses: docker/build-push-action@v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          pull: false
          push: ${{ github.event.pull_request.merged == true || github.event.pusher != null }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
    outputs:
      digest: ${{ steps.image.outputs.digest }}

  security-scan:
    needs: build
    if: github.event.pull_request.merged == true || github.event.pusher != null
    uses: ./.github/workflows/secobserve.yml
    with:
      image_digest: ${{ needs.build.outputs.digest }}
      image_repo: ghcr.io/${{ github.repository }}
      ref: ${{ github.ref }}
      sha: ${{ github.sha }}
      actor: ${{ github.actor }}
      run_id: ${{ github.run_id }}
      branch_name: ${{ github.ref_name }}
      repository: ${{ github.repository }}
      timestamp: ${{ github.event.head_commit.timestamp || github.event.pull_request.merged_at }}
    secrets: inherit
