name: Vulnerability checks

on:
  workflow_call:
    inputs:
      image_digest:
        required: true
        type: string
        description: "Docker image digest"
      image_repo:
        required: true
        type: string
        description: "Docker image repository"
      ref:
        required: true
        type: string
        description: "Git reference"
      sha:
        required: true
        type: string
        description: "Git SHA"
      actor:
        required: true
        type: string
        description: "GitHub actor"
      run_id:
        required: true
        type: string
        description: "GitHub run ID"
      branch_name:
        required: true
        type: string
        description: "Branch name"
      repository:
        required: true
        type: string
        description: "Repository name"
      timestamp:
        required: true
        type: string
        description: "Commit or merge timestamp"

jobs:
  secobserve:
    runs-on: ubuntu-latest
    steps:
      - name: Run Semgrep
        uses: SecObserve/secobserve_actions_templates/actions/SAST/semgrep@main
        with:
          target: "."
          report_name: "semgrep.json"
          configuration: ${{ vars.SEMGREP_CONFIG }}
          so_api_base_url: ${{ vars.SO_API_BASE_URL }}
          so_api_token: ${{ secrets.SO_API_TOKEN }}
          so_product_name: ${{ vars.SO_PRODUCT_NAME }}
          so_branch_name: ${{ inputs.branch_name }}

      - name: Create SBOM
        uses: anchore/sbom-action@v0
        with:
          image: ${{ inputs.image_repo }}@${{ inputs.image_digest }}

      - name: Upload SBOM
        uses: SecObserve/secobserve_actions_templates/actions/upload_sbom@main
        with:
          so_api_base_url: ${{ vars.SO_API_BASE_URL }}
          so_api_token: ${{ secrets.SO_API_TOKEN }}
          so_product_name: ${{ vars.SO_PRODUCT_NAME }}
          so_branch_name: ${{ inputs.branch_name }}
          so_file_name: ${{ inputs.repository }}-${{ github.job }}.spdx.json

      - name: Run Trivy image
        uses: SecObserve/secobserve_actions_templates/actions/SCA/trivy_image@main
        with:
          target: ${{ inputs.image_repo }}@${{ inputs.image_digest }}
          report_name: "trivy_image.json"
          so_api_base_url: ${{ vars.SO_API_BASE_URL }}
          so_api_token: ${{ secrets.SO_API_TOKEN }}
          so_product_name: ${{ vars.SO_PRODUCT_NAME }}
          so_branch_name: ${{ inputs.branch_name }}

      - name: Run Grype image
        uses: SecObserve/secobserve_actions_templates/actions/SCA/grype_image@main
        with:
          target: ${{ inputs.image_repo }}@${{ inputs.image_digest }}
          report_name: "grype_image.json"
          so_api_base_url: ${{ vars.SO_API_BASE_URL }}
          so_api_token: ${{ secrets.SO_API_TOKEN }}
          so_product_name: ${{ vars.SO_PRODUCT_NAME }}
          so_branch_name: ${{ inputs.branch_name }}

      - name: Upload results
        uses: actions/upload-artifact@v5
        with:
          name: secobserve-${{ inputs.sha }}
          path: |
            semgrep.json
            trivy_image.json
            grype_image.json
            ${{ inputs.repository }}-${{ github.job }}.spdx.json

      - name: Check Security Gate
        uses: SecObserve/secobserve_actions_templates/actions/check_security_gate@main
        with:
          so_api_base_url: ${{ vars.SO_API_BASE_URL }}
          so_api_token: ${{ secrets.SO_API_TOKEN }}
          so_product_name: ${{ vars.SO_PRODUCT_NAME }}
